/* Gallery Holder */

div.calendarentry p.date {
	margin-bottom: 5px;  
}

div.calendarentry h3 {
	margin-bottom: 5px;  
	margin-top: 20px;
}

div.calendarentry img {
	margin-bottom: 5px;  
 }
 
div.calendarentry p {
  	margin-bottom: 0;
}

p.pastfuture {
  	float: right;
  	margin-bottom: 0 !important;
  	position: relative;
  	top:15px;
}
 
div.calendarentry p.moreinfo {
	margin-bottom: 0px;  
	font-weight: bold;
	margin-top: 5px;
}

div.calendarentry .hr {
	margin-bottom: 15px;
	margin-top: 10px;
	border-bottom: 1px solid gray;
}